.error_display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: up .5s;
}

.error_display h1{
    font-size: 42px;
    color: var(--blue);
}

.error_display span{
    margin-top: 1rem;
    text-align: center;
    font-size: 18px;
}

.error_display span a{
    color: var(--blue);
}