@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader_control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--blue);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .7s linear infinite;
}